html .password {
    background: #FFFFFF url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #030303;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 320px;
    height: 32px;
    line-height: 16px;
    padding: 6px;
    vertical-align: middle;
    border-radius: 6px;    
}
body{
    background:#e9ebec;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.content{
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;    
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: auto;
    padding: 20px 0 14px 0;
    width: 396px;
    text-align: center;
}

.img1{
    width: 240px;
}
.img{
    text-align:center;
}

.perfil{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.imgp{
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 60px;
}
.button{  
      
    color: #fff;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}
